.start {
  width: 150px;
  height: 150px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}
.wrapper {
  width: 55%;
  height: 60%;
  display: flex;
  align-items: center;
  background-color: greenyellow;
  padding: 80px;
  justify-content: space-between;
}
.play {
  position: absolute;
  color: white;
  font-size: 2em;
  cursor: pointer;
  font-weight: bold;
  right: 26%;
  bottom: 32%;
}
.tomatoContainer {
  position: relative;
}
.character {
  width: 300px;
  height: 300px;
}
.explainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explain {
  color: white;
}
