.wrapper {
  padding: 20px 50px;
  width: 55%;
  height: 70%;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}
.canvas {
  width: 800px;
  height: 500px;
  background-color: white;
}
.max {
  border: 2px solid green;
  display: flex;
  justify-items: end;
  align-items: end;
  height: 90%;
  width: 20px;
}
.cur {
  background-color: green;
  width: 100%;
}
.third {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  align-items: end;
}

.Btn {
  background-color: greenyellow;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  font-weight: bold;
}

.score {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
